node_modules
venv
pycache
*.log
*.env
.DS_Store
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.egg-info/
dist/
build/
*.egg
*.manifest
*.spec
*.db
*.sqlite
*.sqlite3
*.log
*.pid
*.seed
*.coverage
.coverage.*
.cache